
@(customerForm: Form[models.Customer])(implicit lang: Lang)
@import helper._

@main(Messages("addCustomer.title")) {

<div class="container">
    <div class="row">
        <div class="form-group">
            <h1>@Messages("addCustomer.h1")</h1>
            <div class="spacer"></div>
            <p>@Messages("addCustomer.p1")</p>
            <div class="spacer"></div>
            @form(routes.AddCustomer.submit) {
            <div class="input-group" style="width:25%">
                @helper.inputText(customerForm("firstName"), 'id -> "firstName", 'class -> "form-control")
            </div>
            <div class="input-group" style="width:25%">
                @helper.inputText(customerForm("middleName"), 'id -> "middleName", 'class -> "form-control")
            </div>
            <div class="input-group" style="width:25%">
                @helper.inputText(customerForm("lastName"), 'id -> "lastName", 'class -> "form-control")
            </div>
            <div class="spacer"></div>
            <div class="btn-group">
                <div>
                <input id="addCustomer" type="submit" class="btn btn-primary" value="@Messages("addCustomer.submit")">&nbsp
                <a id="back" href="@routes.Start.present" class="btn btn-default">@Messages("addCustomer.back")</a>&nbsp
                <a id="clear" href="@routes.AddCustomer.present" class="btn btn-default">@Messages("addCustomer.clear")</a>
                </div>
            </div>
        </div>
    </div>
</div>
}
}