@(customer: String)(implicit lang: Lang)
@main(Messages("success.title")) {

<div class="container">
    <div class="row">
        <h1>@Messages("success.h1")</h1>
        <div class="spacer"></div>
        <div class="form-group">
            <p>@Messages("success.p1") @customer @Messages("success.p2")</p></p>
        </div>
        <div class="spacer"></div>
        <div class="btn-group">
            <div>
                <a id="back" href="@routes.AddCustomer.present" class="btn btn-primary">@Messages("success.button1")</a>&nbsp
                <a id="exit" href="@routes.Start.present" class="btn btn-default">@Messages("success.button2")</a>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</div>
}